<br/>
<br/>
<div class="section section-primary">
  <div class="container">
    <div class="row vertical-align">
      <div class="col-xs-2">
        <img src="assets/ibm.png" class="img-responsive" alt="Responsive image">
      </div>
      <div class="col-xs-8">
        <h1 class="text-center text-info">Personality Insights Social</h1>
      </div>
      <div class="col-xs-2">
        <img src="assets/watson.png" class="img-responsive" alt="Responsive image">
      </div>
    </div>
    <div class="row">
      <h2 class="text-center"><u class="text-info">https://pisocial.mybluemix.net</u> - Perfil do Público
        <small>({{qtde}})</small>
      </h2>
      <hr/>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-4 text-left">
        <h1 class="text-primary">Abertura: {{abertura}}%</h1>
        <h1 class="text-primary">Escrupulosidade: {{escrupulosidade}}%</h1>
        <h1 class="text-primary">Extroversão: {{extroversao}}%</h1>
        <h1 class="text-primary">Amabilidade: {{amabilidade}}%</h1>
        <h1 class="text-primary">Faixa Emocional: {{faixa_emocional}}%</h1>
      </div>
      <div class="col-md-4 text-right">
        <h1 class="text-success">Desafio: {{n_desafio}}%</h1>
        <h1 class="text-success">Curiosidade: {{n_curiosidade}}%</h1>
        <h1 class="text-warning">Mudanças: {{v_mudancas}}%</h1>
        <h1 class="text-warning">Auto Crescimento: {{v_autocrescimento}}%</h1>
      </div>
    </div>
    <div class="row">
      <br/>
      <br/>
      <p>
        <button class="btn btn-lg btn-danger" (click)="resetDashboard()">Reset</button>
      </p>
    </div>
    <div class="row">
      Desenvolvido por Danilo de Novais Silveira - IBM
      <br/>
      <a href="mailto:dnovais@br.ibm.com">dnovais@br.ibm.com</a>
    </div>

  </div>
</div>
